.inbox {
  @include flex-layout(column, flex-start, center);
  height: 100%;
  max-height: 540px;
  padding: 0 10%;

  background-color: white;
  color: black;

  .title {
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .list {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 100px);
    overflow: auto;
    scrollbar-width: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  .item-task {
    margin-top: 8px;
  }
}