.screen--a-t {
  @include flex-layout(column, flex-start);

  width: 100%;
  height: 100%;
  padding: 0 10%;

  color: black;

  .title {
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .text-input {
    display: block;
    margin-top: 8px;
    width: 100%;
  }

  form {
    position: relative;
    width: 100%;
    @include flex-layout(column, flex-start);

    label {
      display: inline-block;
      margin: 16px;
      max-width: 100%;
    }
  }

  textarea:focus, input:focus {
    border: solid 1px $input-focus-color;
  }

  .button {
    margin-top: 32px;
    height: 32px;
  }

  .button.clear {
    margin-top: 8px;
  }
}