.item-task {
  @extend .item;

  &:hover {
      cursor: pointer;
  }

  &__name {
    align-self: flex-start;
  }

  &__date, &__time {
    font-size: 0.8rem;
    align-self: flex-end;
  }

  &__date-time {
    @include flex-layout(row, space-between);
  }
}