.header {
  @include flex-layout(column, flex-start);
  background-color: $main-color;
  padding: 32px;

  &--controls {
    @include flex-layout(row, flex-end);
  }

  &--time {
    @include flex-layout(row, space-between);
    margin-top: 32px;
  }
}