.footer {
  @include flex-layout(row, flex-end);
  position: relative;
  height: 0px;

  .button {
    @include flex-layout(row, center);
    align-items: center;
    border-radius: 50%;
    background-color: $item-bg-color;
    background-color: $main-color;
    position: absolute;
    font-size: 28px;
    bottom: 0.5em;
    width: 2.0em;
    height: 2.0em;
    z-index: 10000;
  }

  .button--right {
    @extend .button;
    right: 0.5em;
  }

  .button--left {
    @extend .button;
    left: 0.5em;
  }
}