* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

@mixin flex-layout($direction, $jc) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
}

$text-white-color: #eff0f6;

.todo {
  @include flex-layout(column, flex-start);

  background-color: #46529d;
  color: $text-white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 720px;
  transform: translate(-50%, -50%);

  .button {
    &.is-clicked {
      background-color: red;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.header {
  padding: 32px;
  @include flex-layout(column, flex-start);

  &--controls {
    @include flex-layout(row, space-between);
  }

  &--time {
    @include flex-layout(row, space-between);
    margin-top: 32px;
  }
}

.counter-btn {
  background-color: white;
  width: 256px;
  height: 32px;
}

.list {
  align-items: center;
  @include flex-layout(column, flex-start);
}

.item-task {
  position: relative;
  width: 100%;
  @include flex-layout(column, space-between);
  padding-bottom: 4px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
  }

  &--name {
    align-self: flex-start;
  }

  &--date {
    align-self: flex-end;
  }
}

.inbox {
  height: 100%;
  @include flex-layout(column, flex-start);
  align-items: center;
  padding: 0 10%;

  background-color: white;
  color: black;

  .h1 {
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .list {
    width: 100%;
    height: 100%;
  }

  .item-task {
    margin-top: 8px;
  }
}

.footer {
  margin-bottom: 0;
  color: black;
  background-color: yellow;
}