@mixin flex-layout($direction, $jc, $align_items:unset) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $align_items;
}

$item-bg-color: rgb(244, 244, 244);
$main-color: #46529d;
$input-focus-color: #46529d;
$text-white-color: #eff0f6;

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

.todo {
  @include flex-layout(column, flex-start);
  overflow: hidden;
  color: $text-white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 720px;
  transform: translate(-50%, -50%);

  border: solid 1px darkgray;
}

.button {
  border: none;
  background-color: $main-color;
  color: $text-white-color;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}

.text-input {
  border: none;
  border-radius: 8px;
  text-align: center;
  
  background-color: $item-bg-color;
  box-shadow: 0 0px 2px 0px gray;
}

.item {
  @include flex-layout(column, space-between);
  position: relative;
  width: 100%;
  padding: 4px 8px;

  font-size: 16px;
  background-color: $item-bg-color;
  border-radius: 8px;

  box-shadow: 0 2px 1px -1px gray;
}

.item:hover {
  cursor: pointer;
}

@import './components/Footer/Footer.scss',
        './components/Header/Header.scss',
        './components/Inbox/Inbox.scss',
        './components/ItemTask/ItemTask.scss',
        './components/ItemSetting/ItemSetting.scss',
        './components/AddTaskScreen/AddTaskScreen.scss',
        './components/SettingsScreen/SettingsScreen.scss';