@mixin flex-layout($direction, $jc, $align_items:"unset") {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $align_items;
}

$item-bg-color: rgb(244, 244, 244);
$main-color: #46529d;
$text-white-color: #eff0f6;

@import './components/Footer/Footer.scss',
        './components/Header/Header.scss',
        './components/Inbox/Inbox.scss',
        './components/ItemTask/ItemTask.scss';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

.todo {
  @include flex-layout(column, flex-start);

  color: $text-white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 720px;
  transform: translate(-50%, -50%);

  border: solid 1px darkgray;

  .button {
    &.is-clicked {
      background-color: red;
    }

    &:hover {
      cursor: pointer;
    }
  }
}